{% extends 'MRussoMiniProjectBundle::layouts/layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{'I could not find what you are looking for'|trans}}
{#            {{message|trans}}#}
            <br />
            <img class="img-responsive" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/mrussominiproject/images/error-404.jpg') }}">
            
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
